<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div formGroupName="personalInfo">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="First Name">
      <mat-error *ngIf="profileForm.get('personalInfo.firstName').hasError('required')">First Name is required</mat-error>
      <mat-error *ngIf="profileForm.get('personalInfo.firstName').hasError('minlength')">First Name must be at least 2 characters long</mat-error>
      <mat-error *ngIf="profileForm.get('personalInfo.firstName').hasError('maxlength')">First Name cannot exceed 20 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="Last Name">
      <mat-error *ngIf="profileForm.get('personalInfo.lastName').hasError('required')">Last Name is required</mat-error>
      <mat-error *ngIf="profileForm.get('personalInfo.lastName').hasError('minlength')">Last Name must be at least 2 characters long</mat-error>
      <mat-error *ngIf="profileForm.get('personalInfo.lastName').hasError('maxlength')">Last Name cannot exceed 20 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" type="email">
      <mat-error *ngIf="profileForm.get('personalInfo.email').invalid && profileForm.get('personalInfo.email').touched">
        Email is required and must be valid
      </mat-error>
    </mat-form-field>
  </div>

  <div formGroupName="address">
    <mat-form-field appearance="fill">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" placeholder="Street">
      <mat-error *ngIf="profileForm.get('address.street').invalid && profileForm.get('address.street').touched">
        Street is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="City">
      <mat-error *ngIf="profileForm.get('address.city').invalid && profileForm.get('address.city').touched">
        City is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ZIP</mat-label>
      <input matInput formControlName="zip" placeholder="ZIP">
      <mat-error *ngIf="profileForm.get('address.zip').invalid && profileForm.get('address.zip').touched">
        ZIP is required
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
