<form [formGroup]="form">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="form.get('name').hasError('required') && (form.get('name').dirty || form.get('name').touched)">
        Name is required
      </mat-error>
      <mat-error *ngIf="form.get('name').hasError('minlength')">
        Name must be at least 3 characters long
      </mat-error>
      <mat-error *ngIf="form.get('name').hasError('maxlength')">
        Name cannot exceed 20 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="age" placeholder="Age">
      <mat-error *ngIf="form.get('age').hasError('required') && (form.get('age').dirty || form.get('age').touched)">
        Age is required
      </mat-error>
      <mat-error *ngIf="form.get('age').hasError('min')">
        Age must be at least 18
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addRow()">Add Row</button>
  </form>
  
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.age }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
